* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(62, 61, 72),
    rgb(149, 153, 104)
  );
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  margin: 10px auto;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.header-photo {
  width: 100px;
  margin: 20px;
  border-radius: 50%;
}
.header-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.navbar {
  background-color: var(--main-bg-color);
  border-radius: 10px;
}
.navbar-icon img {
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  filter: grayscale(1);
  transition: filter 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.navbar-icon img:hover {
  filter: grayscale(0);
  transform: translateY(-5px);
}
.navbar-icon {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.skills {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}
.skills h3::after {
  content: "S:";
}
.button {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.btn {
  background-color: aqua;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.arrow img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.animation img {
  height: 50px;
  width: 50px;
  animation: anim 5s infinite;
}
.animation {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* анимация ко 2 странице */
@keyframes anim {
  0% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
